a.navbar-brand{
    font-size: 45px;
    font: optional;
    object-position: left;
  }
  a.nav-link {
    font-size: 15px;
  }
   .fw-normal{
    font-size: 50px;
    color:rgb(30, 136, 101);
   }
   .ww-normal{
    font-size:50px;
    color: rgb(30, 136, 101);
   }
   .kk-normal{
    font-size: 50px;
    color: rgb(30, 136, 101);
   }
  .location{
    display: flex;
    justify-content: center;
    align-items: center;
  }